.featured{
    width: 100%;
    max-width: 1024px;
    justify-content: space-between;
    gap: 20px;
    display: flex;
    z-index: 1;
   

    
}
.featuredImg{
    width: 100%;
    object-fit: cover;
    max-width: 1024px;
}
.featuredTitles{
    bottom:30px;
    left: 30px;
}
.featuredTitles>h2{
    bottom: -20px;
    font-size: 18px;
}
