.fp{
    width: 100%;
    max-width: 1024px;
    justify-content: space-between;
    display: flex;
    gap: 20px;
}
.fpItems{
    flex: 1;
    gap: 10px;
}
.fpImg{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.fpName{
    font-weight: bold;
}
.fpCity{
    font-weight: 300;
}
.fpPrice{
    font-weight: 500;
}
.fpRating button{
    background-color: #003580;
    color: white;
    padding: 3px;
}